{% extends "app/layout.html" %}

{% block content %}
    {% load staticfiles %}

<header id="section-header" class="header moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-container moto-container_header_5a1a7f651" data-widget="container" data-container="container" data-css-name="moto-container_header_5a1a7f651">
        <div data-widget-id="wid_1511686531_6btyhrio6" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet" data-widget="spacer" data-preset="default" data-spacing="maaa" data-visible-on="tablet">
            <div class="moto-widget-spacer-block" style="height:15px"></div>
        </div>

        <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="mama" style="">
            <div class="container-fluid">
                <div class="row" data-container="container">
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                        <div data-widget-id="wid_1511686568_wilpofta0" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                            <a class="moto-widget-image-link moto-link" href="index.html"   data-action="page">
                                <img data-src="/mt-demo/65500/65559/mt-content/uploads/2017/11/invert-logo.png" class="moto-widget-image-picture lazyload" data-id="147" title="" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                       <!--
                        <div data-widget-id="wid_1511686595_d9f07k1r3" class="moto-widget moto-widget-menu moto-preset-default moto-align-left moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-preset="default" data-widget="menu">
                            <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                            <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
                                <li class="moto-widget-menu-item"><a href="about/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">ABOUT</a></li>
                                <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu"><a href="coaches/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">COACHES<span class="fa moto-widget-menu-link-arrow"></span></a>
                                    <ul class="moto-widget-menu-sublist">
                                        <li class="moto-widget-menu-item"><a href="faqs/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">FAQs</a></li>
                                        <li class="moto-widget-menu-item moto-widget-menu-item-has-submenu"></li><a href="clients/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-widget-menu-link-submenu moto-link">Clients<span class="fa moto-widget-menu-link-arrow"></span></a>
                                            <ul class="moto-widget-menu-sublist">
                                                <li class="moto-widget-menu-item"><a href="blog/index.html"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Blog</a></li>
                                                <li class="moto-widget-menu-item"><a href="contacts/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-3 moto-link">Contacts</a></li>
                                            </ul>
                                        </li>
                                        <li class="moto-widget-menu-item"><a href="careers/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-2 moto-link">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="moto-widget-menu-item"><a href="clients/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CLIENTS</a></li>
                                <li class="moto-widget-menu-item"><a href="blog/index.html"   data-action="blog.index" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">BLOG</a></li>
                                <li class="moto-widget-menu-item"><a href="contacts/index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACTS</a></li>
                            </ul>
                        </div>
                        -->
                    </div>

                </div>
            </div>
        </div>

        <div data-widget-id="wid_1511686909_41a2dic9q" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto moto-visible-on_tablet" data-widget="spacer" data-preset="default" data-spacing="lama" data-visible-on="tablet">
            <div class="moto-widget-spacer-block" style="height:10px"></div>
        </div>

        <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="mala" style="">
            <div class="container-fluid">
                <div class="row" data-container="container">
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                        <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <!--<p class="moto-text_system_6">WELCOME TO</p>-->
                                <p class="moto-text_system_3">Yugen Digital</p><p class="moto-text_system_15">Delivering value driven solutions</p></div>
                        </div>
                        <!--
                        <div data-widget-id="wid_1511687434_fr54xemq2" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
                            <a href="#"   data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Tell me more</span></a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <div data-widget-id="wid_1511687539_16rva6fh3" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto moto-visible-on_tablet" data-widget="spacer" data-preset="default" data-spacing="lama" data-visible-on="tablet">
            <div class="moto-widget-spacer-block" style="height:30px"></div>
        </div>
    </div>
</header>

    <section id="section-content" class="content page-1 moto-section" data-widget="section" data-container="section">
        <div class="moto-widget moto-widget-row row-gutter-0 moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">
            <div class="container-fluid">
                <div class="row" data-container="container">
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../static/app/content/images/mt-1176-home-bg-2.jpg);background-position:right top;background-repeat:no-repeat;background-size:cover;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-image="2017/11/mt-1176-home-bg-2.jpg/index.html">
                        <div data-widget-id="wid_1511688246_smo9mrewe" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto " data-widget="spacer" data-preset="default" data-spacing="lala" data-visible-on="mobile-v">
                            <div class="moto-widget-spacer-block" style="height:250px"></div>
                        </div>
                    </div>
                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                        <div data-widget-id="wid_1511687703_idsmtz8ev" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-visible-on_desktop" data-widget="spacer" data-preset="default" data-spacing="lasa" data-visible-on="desktop">
                            <div class="moto-widget-spacer-block" style="height:10px"></div>
                        </div>
                        <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">
                            <div class="container-fluid">
                                <div class="row" data-container="container">
                                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">
                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="msss" data-animation="" data-draggable-disabled="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_system_5"><strong>EVERYTHING</strong>&nbsp;IS POSSIBLE WITH US</p>
                                            <p class="moto-text_normal"><br></p><p class="moto-text_system_6"><span class="moto-color3_4">WE GET THE RIGHT RESULTS EVERY TIME</span></p>
                                            <p class="moto-text_normal"><br></p><p class="moto-text_system_10">Yugen focus on driving value. What that means is that whatever we produce at the end is beneficial to the users and meets the organisational needs. We lead by example and encourage innovation wherever possible.</p>
                                        </div>
                                    </div>
                                    <!--
                                    <div data-widget-id="wid_1511688098_gxakrqinq" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-medium moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-small " data-widget="button">
                                        <a href="more/index.html"   data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE</span></a>
                                    </div>
                                    -->
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa"></div>
                            </div>
                        </div>
                    </div>
                    <div data-widget-id="wid_1511688119_m6dbj20cd" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-visible-on_desktop" data-widget="spacer" data-preset="default" data-spacing="lasa" data-visible-on="desktop">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-container moto-background-fixed moto-container_content_5a1a887c2" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a887c2" data-draggable-disabled="">


<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="laaa" style="">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_5"><span class="moto-color5_5"><strong>KEY</strong>&nbsp;INDUSTRIES</span></p><p style="text-align: center;" class="moto-text_normal"><br></p><p style="text-align: center;" class="moto-text_normal"><span class="moto-color5_5">We have sound experience in both the public and private sector. This has its many benefits as it interweaves experience achieved with the steadfast Government Digital Service Standard with fast-paced go to market capability with organisations who are interested in launching disruptive digital products.</span></p></div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

</div>



        </div>
    </div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aala" style="" data-draggable-disabled="">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div data-widget-id="wid_1511688755_muugq8rq1" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-home-coach1.jpg" class="moto-widget-image-picture lazyload" data-id="151" title="" alt="">
            </span>
            </div><div class="moto-widget moto-widget-container moto-container_content_5a1a8a4f3" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a8a4f3">


<div data-widget-id="wid_1511689294_lqt7hjie5" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_7">
        <a href="#" target="_self" data-action="url" class="moto-link">CENTRAL GOVERNMENT</a></p><p class="moto-text_system_12" style="text-align: center;"><span class="moto-color1_3">(Case study)</span></p></div>
</div><div data-widget-id="wid_1511689298_krh7l361h" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div></div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">


            <div data-widget-id="wid_1511689427_p4x2ruz3b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-home-coach2.jpg" class="moto-widget-image-picture lazyload" data-id="152" title="" alt="">
            </span>
            </div>



            <div class="moto-widget moto-widget-container moto-container_content_5a1a8cd34" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a8cd34">



            <div data-widget-id="wid_1511689427_pegojc36q" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>



            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_7"><a target="_self" data-action="url" class="moto-link" href="#">GOVERNMENT</a></p><p class="moto-text_system_12" style="text-align: center;"><span class="moto-color1_3"></span>(Case study)​<span class="moto-color1_3"></span></p></div>
</div>



            <div data-widget-id="wid_1511689427_uqva78u2i" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>


</div>


</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">


            <div data-widget-id="wid_1511689431_4rn0q7jc1" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-home-coach3.jpg" class="moto-widget-image-picture lazyload" data-id="153" title="" alt="">
            </span>
            </div>



            <div class="moto-widget moto-widget-container moto-container_content_5a1a8cd75" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a8cd75">



            <div data-widget-id="wid_1511689431_5r5vjtie1" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>



            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_7"><a target="_self" data-action="url" class="moto-link" href="#"></a><a href="#" target="_self" data-action="url" class="moto-link">THIRD SECTOR</a><a target="_self" data-action="url" class="moto-link" href="#"></a></p><p class="moto-text_system_12" style="text-align: center;"><span class="moto-color1_3">(Case study)</span></p></div>
</div>



            <div data-widget-id="wid_1511689431_tr21fdzqw" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>


</div>


</div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">


            <div data-widget-id="wid_1511689434_dif7w3s6l" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-home-coach4.jpg" class="moto-widget-image-picture lazyload" data-id="154" title="" alt="">
            </span>
            </div>



            <div class="moto-widget moto-widget-container moto-container_content_5a1a8cda6" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a8cda6" data-draggable-disabled="">



            <div data-widget-id="wid_1511689434_6j6veh1qw" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>



            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="" data-draggable-disabled="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_7"><a href="#" target="_self" data-action="url" class="moto-link">RECRUITMENT</a></p><p class="moto-text_system_12" style="text-align: center;"><span class="moto-color1_3">(Case study)</span></p></div>
</div>



            <div data-widget-id="wid_1511689434_nuwg5mgfh" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
    data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
    <div class="moto-widget-spacer-block" style="height:10px"></div>
</div>


</div>


</div>



        </div>
    </div>
</div></div>
        <div class="moto-widget moto-widget-row row-fixed moto-bg-color_custom3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="lala" style="">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_5" style="text-align: center;"><strong>OUR</strong>&nbsp;CLIENTS</p></div>
</div><div data-widget-id="wid_1511689707_ue5b5m5fp" class="moto-widget moto-widget-grid-gallery moto-preset-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="grid_gallery" data-preset="2" data-spacing="aaaa">
            <div class="moto-widget-grid-gallery-items"  data-moto-grid-gallery-options='{&quot;rowHeight&quot;:270,&quot;fixedHeight&quot;:false,&quot;margins&quot;:30,&quot;lastRow&quot;:&quot;justify&quot;,&quot;showCaptions&quot;:true,&quot;enableLightbox&quot;:true}'>
                            <a  href="{% static "app/content/images/mt-1176-home-gallery1-1.jpg" %}" class="moto-widget-grid-gallery-item">
                                <img src="{% static "app/content/images/mt-1176-home-gallery1.jpg" %}" class="moto-widget-grid-gallery-image">
                            </a>
                            <a  href="{% static "app/content/images/mt-1176-home-gallery2-1.jpg" %}" class="moto-widget-grid-gallery-item">
                                <img src="{% static "app/content/images/mt-1176-home-gallery2.jpg" %}" class="moto-widget-grid-gallery-image">
                            </a>
                            <a  href="{% static "app/content/images/mt-1176-home-gallery3-1.jpg" %}" class="moto-widget-grid-gallery-item">
                    <img src="{% static "app/content/images/mt-1176-home-gallery3.jpg" %}" class="moto-widget-grid-gallery-image">

                                                            </a>


                    </div>
    </div></div>



        </div>
    </div>
</div>
        <div class="moto-widget moto-widget-container moto-background-fixed moto-container_content_5a1a96a67" data-widget="container" data-container="container" data-css-name="moto-container_content_5a1a96a67">


<div data-widget-id="wid_1511692028_on0de0k0x" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet"
    data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="tablet">
    <div class="moto-widget-spacer-block" style="height:30px"></div>
</div><div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="mama" style="">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="amsa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_6"><span class="moto-color5_5">OUR STRENGTHS</span></p><p class="moto-text_normal"><br></p><p class="moto-text_normal"><span class="moto-color5_5">We help organisations to reach the 'right' goals in the most efficient way.</span></p><p class="moto-text_normal"><span class="moto-color5_5">​​​​​​​</span><br></p><p class="moto-text_normal"><span class="moto-color5_5">This means understanding what the benefits are, how that represents success today and also how that compliments success in the future.</span></p></div>
</div>
    <!--
        <div data-widget-id="wid_1511692125_ekcgghj3t" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
            <a href="more/index.html"   data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VIEW THE CLASSES</span></a>
    </div>
    -->
                    </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-animation="" data-draggable-disabled="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><span class="moto-color1_3"><strong>YUGEN DIGITAL</strong></span>&nbsp;GETS SMART</p><p class="moto-text_system_13">WITH DIGITAL STRATEGY!</p></div>
</div></div>



        </div>
    </div>
</div>

            <div data-widget-id="wid_1511692040_fg46ydyhx" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_tablet"
    data-widget="spacer" data-preset="default" data-spacing="laaa" data-visible-on="tablet">
    <div class="moto-widget-spacer-block" style="height:30px"></div>
</div></div>



        <div class="moto-widget moto-widget-row row-fixed moto-bg-color_custom3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="lala" style="background-image:url(mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-home-bg-5.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2017/11/mt-1176-home-bg-5.jpg/index.html">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_5" style="text-align: center;"><strong>TESTIMONIALS</strong></p></div>
</div><div data-widget-id="wid_1511698373_bmikm4yao" class="moto-widget moto-widget-slider moto-widget-carousel moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto   moto-widget-carousel-loader" data-widget="carousel" data-preset="default">
            <div class="loading-block">
            <div class="loading-circle"><div></div></div>
            <div class="loading-circle"><div></div></div>
            <div class="loading-circle"><div></div></div>
            <div class="loading-circle"><div></div></div>
        </div>
        <div class="carousel-block">
            <div class="moto-widget-carousel-list" data-moto-carousel-options='{&quot;slideshowEnabled&quot;:true,&quot;slideshowDelay&quot;:5,&quot;showNextPrev&quot;:true,&quot;showPaginationDots&quot;:false,&quot;slideWidth&quot;:390,&quot;minSlides&quot;:1,&quot;maxSlides&quot;:3,&quot;moveSlides&quot;:1,&quot;margins&quot;:20,&quot;itemsCount&quot;:3}'>
                                    <div class="moto-widget-carousel-item">
                        <a class="moto-widget-carousel-link moto-link" ><img src="{% static "app/content/images/spencerturner.jpeg" %}" alt="Spencer Turner"/></a>
                                                    <div class="moto-widget-carousel-caption moto-widget-text"><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_system_14"><span class="moto-color3_4">SPENCER TURNER, CULTIVATE SOFTWARE</span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;"><span class="moto-color1_3"><span style="font-size:28px;"><span class="fa fa-fw"></span></span></span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">&ldquo;They're exceptional in their desire get to the bottom of a problem, and really examine the 'why' behind decisions. They calmly aide groups towards a shared direction and understanding. They embraces change and adapt to situations fluidly, whilst keeping focused on the overarching goal.</p></div>
                                            </div>
                                    <div class="moto-widget-carousel-item">
                        <a class="moto-widget-carousel-link moto-link" ><img src="{% static "app/content/images/hugorodgerbrown.jpeg" %}" alt="Hugo Rodger-Brown"/></a>
                                                    <div class="moto-widget-carousel-caption moto-widget-text"><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_system_14"><span class="moto-color3_4">HUGO RODGER-BROWN</span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;"><span class="moto-color1_3"><span style="font-size:28px;"><span class="fa fa-fw"></span></span></span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">&ldquo;enthusiasm and creativity will be sorely missed from the YJ team, quite apart from the professionalism. A real pleasure to work with, and the YJ platform is in better shape now. Highly recommended.&rdquo;</p></div>
                                            </div>
                                    <div class="moto-widget-carousel-item">
                        <a class="moto-widget-carousel-link moto-link" ><img src="{% static "app/content/images/stuartrevnell.jpeg" %}" alt="Stuart Revnell"/></a>
                                                    <div class="moto-widget-carousel-caption moto-widget-text"><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_system_14"><span class="moto-color3_4">STEWART REVNELL</span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;"><span class="moto-color1_3"><span style="font-size:28px;"><span class="fa fa-fw"></span></span></span></p><p style="text-align: center;" class="moto-text_system_14">&nbsp;</p><p style="text-align: center;" class="moto-text_normal">&ldquo;hit the ground running, started delivering immediately, and helped to move a very complex project forward in a short space of time&rdquo;</p></div>
                                            </div>
                            </div>
        </div>
    </div></div>



        </div>
    </div>
</div>
        <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="">

    <div class="container-fluid">
        <div class="row" data-container="container">


                    <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa">

<div data-widget-id="wid_1511700061_r7lzc73xa" class="moto-widget moto-widget-grid-gallery moto-preset-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="grid_gallery" data-preset="3" data-spacing="aaaa">
            <div class="moto-widget-grid-gallery-items"  data-moto-grid-gallery-options='{&quot;rowHeight&quot;:380,&quot;fixedHeight&quot;:false,&quot;margins&quot;:0,&quot;lastRow&quot;:&quot;hide&quot;,&quot;showCaptions&quot;:true,&quot;enableLightbox&quot;:true}'>
                            <a  href="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img2-1.jpg" class="moto-widget-grid-gallery-item">
                    <img src="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img2.jpg" alt="mt-1176-gallery2-img2.jpg" class="moto-widget-grid-gallery-image">
                                                                        <div class="caption caption_text caption-empty">
                                <p></p>
                            </div>
                                                            </a>
                            <a  href="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img5-1.jpg" class="moto-widget-grid-gallery-item">
                    <img src="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img5.jpg" alt="mt-1176-gallery2-img5.jpg" class="moto-widget-grid-gallery-image">
                                                                        <div class="caption caption_text caption-empty">
                                <p></p>
                            </div>
                                                            </a>
                            <a  href="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img3-1.jpg" class="moto-widget-grid-gallery-item">
                    <img src="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img3.jpg" alt="mt-1176-gallery2-img3.jpg" class="moto-widget-grid-gallery-image">
                                                                        <div class="caption caption_text caption-empty">
                                <p></p>
                            </div>
                                                            </a>
                            <a  href="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img4-1.jpg" class="moto-widget-grid-gallery-item">
                    <img src="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img4.jpg" alt="mt-1176-gallery2-img4.jpg" class="moto-widget-grid-gallery-image">
                                                                        <div class="caption caption_text caption-empty">
                                <p></p>
                            </div>
                                                            </a>
                            <a  href="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img1-1.jpg" class="moto-widget-grid-gallery-item">
                    <img src="mt-demo/65500/65559/mt-content/uploads/2017/11/mt-1176-gallery2-img1.jpg" alt="mt-1176-gallery2-img1.jpg" class="moto-widget-grid-gallery-image">
                                                                        <div class="caption caption_text caption-empty">
                                <p></p>
                            </div>
                                                            </a>
                    </div>
    </div></div>



        </div>
    </div>
</div>
        </section>

{% endblock %}
